.cards{

    display:grid;

    grid-template-columns:

        repeat(auto-fit,minmax(220px,1fr));

    gap:25px;

}

.card{

    background:white;

    border-radius:18px;

    padding:30px;

    box-shadow:var(--shadow);

    transition:.3s;

    cursor:pointer;

}

.card:hover{

    transform:translateY(-6px);

}

.card i{

    font-size:35px;

    color:var(--primary);

    margin-bottom:20px;

}

.card h2{

    font-size:40px;

}

.card span{

    color:#6B7280;

}

.dashboard-grid{

    margin-top:40px;

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:25px;

}

.dashboard-card{

    background:white;

    border-radius:18px;

    box-shadow:var(--shadow);

    padding:30px;

}

.dashboard-card h3{

    margin-bottom:25px;

}

#avisos p,
#proximos-compromissos p{

    padding:12px;

    border-left:5px solid var(--primary);

    background:#F8FAFC;

    border-radius:8px;

    margin-bottom:12px;

}